= simple_form_for(@posting) do |f|
  = f.error_notification

  .inputs
    - if @posting.album_id.blank?
      = f.association :album, collection: current_user.albums_by_latest_post, label_method: :title, value_method: :id, include_blank: false
    - else
      = f.association :album, disabled: true, hint: 'You cannot change the album.' 

    = f.input :title, input_html: {size: 40}
    = f.input :body, as: :text, input_html: {cols: 40, rows: 4}

    = f.input :recorded_at, as: :datetime, hint: 'dictates the sort order. taken from exif data', discard_second: true

    - if @posting.state == 'blank' 
      -# WAS f.input :publish_in, collection: [0, 1, 5, 30, 60, 120, 180], include_blank: false
      = f.input :publish_in, as: :hidden, input_html: { value: 0 }

  .actions
    = f.button :submit
